
.sign{
    
    text-align:center;
    font: 5.8vw "Grape Nuts";
    color: rgb(218, 219, 224);
    width:93%;
    margin: 0 auto;
    padding-top:15vh;
    
}

.sign p{
    /* text-align: right;
    padding-right: 0.4em; */
    /* font-weight: bold; */
    font: 7.5vw "Grape Nuts";
    /* margin-top: -0.3em; */
}