@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font: 14px/1.5 "Ubuntu", Verdana sans-serif;
    background-image: url("https://images.unsplash.com/photo-1607799279861-4dd421887fb3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    /* background-image: url("https://images.unsplash.com/photo-1607706189992-eae578626c86?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
    max-width: 550px;
    min-width: 350px;
    height: 100%;

    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: top; */
    padding:0.5em;
    padding-top: 2em;
    padding-bottom: 2em;
  
}



.head-container{
    background-image:url("images/logoN_card1.png");
    /* opacity: 0.85; */
    height: 50vh;
    width: 95%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color:rgba(179, 199, 230, 0.4); ;
    border-radius: 5em;
    
}

.logo-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 1em;
    background-color: rgba(179, 199, 230, 0.4);
    /* color: rgb(179, 199, 230); */
    color: #fff;
    text-align: center;
    font-family: "Grape Nuts";
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 1.5em;
    margin-bottom: 3em;
    font-size: 1.25em;
    width:95%
    
}

.info-container{
    
    font:2em "Caveat";
    color: #fff;

}

.name-info h2, h3 {
    text-align: center;
}

.name-info{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 2em;
    margin-top:2em;
    background-color: rgba(179, 199, 230, 0.4);
    width: 95%;
    border-radius: 1em;
}

table{
    /* display: flex; */
    background-color: rgb(179, 199, 230, 0.4);
    border-radius: 1em;
    margin: top 1.5em;
    text-align:end;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 2.5em;
    
}

table tr td{
    /* flex: 0 0 auto; */
    padding: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;

    
}

table tr .label{
    text-decoration: underline;
    text-align:left;
}

.add-contact{
    font:2em "Caveat";
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 2em;
    padding: 0.75em;
    background-color: rgb(179, 199, 230, 0.4);
    /* color:goldenrod; */
    width: 95%;
    border-radius: 1em;
    text-align: center;
}

a {
    text-decoration: none;
    color: #fff;
}

a :hover {
    color: #3771CB;
}

@media (max-width:520px){
    
    table{
        font-size: 0.9em;
    }

    .head-container{
        height: 36vh;
        /* width: 95wh; */
    
        }
}

@media (max-width:480px){
    
    table{
        font-size: 0.85em;
    }
}

@media (max-width:448px){
    
    table{
        font-size: 0.8em;
    }
}

@media (max-width:422px){
    
    table{
        font-size: 0.75em;
    }

    /* .head-container{
        height: 35vh;
       
    
        } */

    
}




@media (max-width:400px){
    
    table{
        font-size: 0.7em;
    }

    

    /* body{
        height: 100%;
    } */


}

@media (max-width:383px) {
    .head-container{
        height: 35vh;
       
    
        }
}


@media (max-width:372px){
    
    table{
        font-size: 0.65em;
    }

    .head-container{
    height: 34vh;

    }
}